<h4>Content from Server</h4>
{{board}}
{{errorMessage}}
<button (click)="deleteUser(user.id)" class="btn btn-success">Add Users</button>
<button (click)="deleteUser(user.id)" class="btn btn-success">Add Users</button>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.username}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td><button (click)="deleteUser(user.id)" class="btn btn-danger" style="margin:5px;">Delete</button>
            <button (click)="userDetails(user.id)" class="btn btn-info" style="margin:5px;">Details</button>
        </td>
      </tr>
    </tbody>
</table>
