

  <form action="" method="post" class="form-horizontal">
    <div class="form-group row">
      <div class="col-md-12">
        <div class="input-group">
          <span class="input-group-prepend">
            <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
          </span>
          <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Username">
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-12">
      
        
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>Username</th>
              <th>Name</th>
              <th>User Role</th>
              <th>Email</th>
              <th>Status</th>
              <th colspan="2">Actions</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Vishnu Serghei</td>
              <td>2012/01/01</td>
              <td>Member</td>
              <td>user@user.com</td>
              <td>
                <span class="badge badge-success">Active</span>
              </td>
              <td><a class="fa fa-pencil" href="#"> Edit</a></td>
              <td><a class="fa fa-times" href="#"> Delete</a></td>
            </tr>
            <tr>
              <td>Vishnu Serghei</td>
              <td>2012/01/01</td>
              <td>Member</td>
              <td>user@user.com</td>
              <td>
                <span class="badge badge-danger">Inactive</span>
              </td>
              <td><a class="fa fa-pencil" href="#"> Edit</a></td>
              <td><a class="fa fa-times" href="#"> Delete</a></td>
            </tr>
            <tr>
              <td>Vishnu Serghei</td>
              <td>2012/01/01</td>
              <td>Member</td>
              <td>user@user.com</td>
              <td>
                <span class="badge badge-success">Active</span>
              </td>
              <td><a class="fa fa-pencil" href="#"> Edit</a></td>
              <td><a class="fa fa-times" href="#"> Delete</a></td>
            </tr>
            <tr>
              <td>Vishnu Serghei</td>
              <td>2012/01/01</td>
              <td>Member</td>
              <td>user@user.com</td>
              <td>
                <span class="badge badge-danger">Inactive</span>
              </td>
              <td><a class="fa fa-pencil" href="#"> Edit</a></td>
              <td><a class="fa fa-times" href="#"> Delete</a></td>
            </tr>
            <tr>
              <td>Vishnu Serghei</td>
              <td>2012/01/01</td>
              <td>Member</td>
              <td>user@user.com</td>
              <td>
                <span class="badge badge-danger">Inactive</span>
              </td>
              <td><a class="fa fa-pencil" href="#"> Edit</a></td>
              <td><a class="fa fa-times" href="#"> Delete</a></td>
            </tr>
          </tbody>
        </table>
    </div><!--/.col-->
  </div><!--/.row-->

